table, th, td
{
    border: 1px solid black;
}

html,body{
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}