table, th, td
{
<<<<<<< Updated upstream
    border: 1px solid black;
=======
    border: 5px solid black;
    border
}

html,body{
    background-image: url('../assets/images/IMG_6574.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
>>>>>>> Stashed changes
}